{% extends 'layout.twig' %}

{% block title %}Registration{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

	<form>
			<label for='first-name'>First Name</label>
			<input name='first-name' type='text'/>

			<label for='last-name'>Last Name</label>
			<input name='last-name' type='text'/>

			<label for='email'>Email</label>
			<input name='email' type='text'/>

			<label for='username'>Username</label>
			<input name='username' type='text'/>

			<label for='password'>Password</label>
			<input name='password' type='password'/>
	</form>
{% endblock %}